<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllPendingStudentAccountRequests</servlet-name>
        <servlet-class>DisplayAllPendingStudentAccountRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveAllPendingStudentAccountRequests</servlet-name>
        <servlet-class>ApproveAllPendingStudentAccountRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovePendingStudentAccountRequests</servlet-name>
        <servlet-class>ApprovePendingStudentAccountRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFriends</servlet-name>
        <servlet-class>SearchFriends</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllPendingStudentAccountRequests</servlet-name>
        <url-pattern>/DisplayAllPendingStudentAccountRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveAllPendingStudentAccountRequests</servlet-name>
        <url-pattern>/ApproveAllPendingStudentAccountRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovePendingStudentAccountRequests</servlet-name>
        <url-pattern>/ApprovePendingStudentAccountRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFriends</servlet-name>
        <url-pattern>/SearchFriends</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
